<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="TecniFutbol"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TecniFutbol"
        tools:targetApi="31">
        <activity
            android:name=".Jugador.Gimnasio.PantallaEntrenamientosGimnasio"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Jugador.DetallesEntrenamientoJugador"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Jugador.Casa.PantallaEntrenamientoCasa"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Entrenador.Partidos.PartidoEnCurso"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Jugador.PantallaJugador"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Entrenador.Partidos.EditarOCrearJugador"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Entrenador.Partidos.EditarEquipo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Entrenador.Partidos.CrearEquipo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Entrenador.Partidos.SeleccionTipoPartido"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".Entrenador.Partidos.ElegirJugadores"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Entrenador.Entrenamientos.PantallaEntrenamientos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PantallaInicial"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Entrenador.Partidos.SeleccionDeEquipos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Entrenador.PantallaEntrenador"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Entrenador.Entrenamientos.DetallesEntrenamiento"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>